# {{ simple_automation_managed }}
source /etc/profile

# Environment
export MAKEFLAGS="-j$(($(nproc || echo 2) + 1))"
export LS_COLORS="$(dircolors)"

if type dircolors >/dev/null ; then
	# Enable colors for ls, etc.  Prefer ~/.dir_colors #64489
	LS_COLORS=
	if [[ -f ~/.dir_colors ]] ; then
		eval "$(dircolors -b ~/.dir_colors)"
	elif [[ -f /etc/DIR_COLORS ]] ; then
		eval "$(dircolors -b /etc/DIR_COLORS)"
	else
		eval "$(dircolors -b)"
	fi
	# Note: We always evaluate the LS_COLORS setting even when it's the
	# default.  If it isn't set, then `ls` will only colorize by default
	# based on file attributes and ignore extensions (even the compiled
	# in defaults of dircolors). #583814
	if ! [[ -n ${LS_COLORS:+set} ]] ; then
		# Delete it if it's empty as it's useless in that case.
		unset LS_COLORS
	fi
fi

# Set umask
umask 077
